
button{
    color: blue;
    background: red;
}

#para1{
    color: rgb(255, 0, 43);
}

#para2{
    color: blueviolet;
}
.content{
    color: crimson;
    background: chocolate;

}

div{
    width: 300px;
    height: 200px;
    background: darkred;
    margin-left: 20px;
    margin-bottom: 30px;
    padding-left: 30px;

}

.colour{
    color: azure;
}